{% load static %}
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="keywords" content="Django, CSS, Python, JavaScript">
    <meta name="description" content="Django, CSS, Python, JavaScript">

    <link rel="stylesheet" href="{% static 'website/css/base.css' %}">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'website/images/favicon.ico' %}"/>

    <title>Django/CSS/Python/JavaScript</title>

    <style>

    </style>
    <script>

    </script>
</head>
<body>
    <header>

    </header>
    <nav>

    </nav>
    <main>

    </main>
    <footer>
        <hr>
        <div style="text-align: center">
            Pedro Costa - 2021
        </div>
    </footer>
</body>
</html>